/*Top nav*/

#alittlespace {
  margin-left: 130px;

}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#002221;
}

.topnav {
  padding-left: 60px;
  position: fixed;
  width: 100%;
}

.topnav li {
  float: left;
  font-size: 14px;
}

.topnav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li:hover {
  background-color: #084240;
}

#active {
  background-color: #7f9c40;
  color: #ffffff;
}

#gremio_img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  margin: 0;
  padding: 0;
  overflow: auto;
  float: left;
  width: 60px;
  height: 50px;
  object-fit: contain;

}

/**/

/*Side nav*/

/* Style the side navigation */
.sidenav {
  position: fixed;
  list-style-type: none;
  margin-top: 44px;
  padding: 0;
  width: 10%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover  */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/**/

/*Index*/

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other*/
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}



/**/

/*Membros*/